APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:cOvkThePJA+UcKhMO21BkfC1yQEpOyvW0CXglNn8aA4=
APP_DEBUG=true
APP_URL=http://192.168.0.171/consulta_entidad_repeju/public

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=192.168.94.3
DB_PORT=5432
DB_DATABASE=escribania
DB_USERNAME=cita_escribania_appuser
DB_PASSWORD=Desarrollo

SCHEMA_APP ='cita_escribania'
SCHEMA_ESCRIBANIA ='escribania'

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

NOCAPTCHA_SECRET=6LchQEcaAAAAAElauY1xL8US7fxWuTsnFc6l843L
NOCAPTCHA_SITEKEY=6LchQEcaAAAAAPD2akEu_XEIaAFttSLkHI8R1ip9

ID_C_TIPO_TRAMITE_CITA_LINEA = 6
ID_HORARIO_CITAS = 7

ID_CI_ESCRITURA_PUBLICA = 20
ID_CI_CONSULTA_PROTOCOLO = 21
ID_CI_SECCION_DE_TIERRAS = 22
ID_CI_ARCHIVO_HISTORICO = 23



